name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      EKS_CLUSTER_NAME: devops-portfolio-eks
      ECR_REPOSITORY: devops-portfolio-app

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # ✅ UNIT TESTS
      - name: Unit tests (pytest)
        run: pytest

      # ✅ INTEGRATION TESTS
      - name: Integration tests (docker compose)
        run: |
          docker compose up -d --build
          ./tests/integration/smoke.sh
          docker compose down

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - uses: aws-actions/amazon-ecr-login@v2
        id: login

      - name: Build & Push Image
        run: |
          IMAGE_URI=${{ steps.login.outputs.registry }}/devops-portfolio-app:${{ github.sha }}
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - uses: azure/setup-kubectl@v4

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --name devops-portfolio-eks --region ap-south-1
          kubectl apply -f k8s/
          kubectl set image deployment/devops-portfolio-app \
            devops-portfolio-app=$IMAGE_URI
          kubectl rollout status deployment/devops-portfolio-app
