name: CI-CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {}

concurrency:
  group: ci-cd-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      EKS_CLUSTER_NAME: devops-portfolio-eks
      ECR_REPOSITORY: devops-portfolio-app
      APP_PORT: "8000"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---------- Python Unit Tests ----------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Unit tests (pytest)
        env:
          # זה התיקון ל- ModuleNotFoundError: No module named 'app'
          PYTHONPATH: ${{ github.workspace }}
        run: |
          pytest -q

      # ---------- Integration Tests (docker compose) ----------
      - name: Integration tests (docker compose)
        run: |
          docker compose up -d --build
          chmod +x tests/integration/smoke.sh
          bash tests/integration/smoke.sh
          docker compose down

      # ---------- AWS Auth ----------
      - n
